# ==================================
# 1. Python 环境与缓存
# ==================================
.venv/
venv/
__pycache__/
*.py[cod]
.idea/

# ==================================
# 2. 隐私数据与配置文件 (替代你 config 下的规则)
# ==================================
# 忽略 config 文件夹下的核心用户数据，但保留 config 文件夹本身
config/users.json

# 忽略本地数据库，但保留 instance 文件夹本身
instance/*

# ==================================
# 3. 本地媒体缓存 (替代你 static 下的各个规则)
# ==================================
# 忽略这三个文件夹下的所有图片内容
static/backdrops/*
static/posters/*
static/stills/*
# TMDB 图片本地缓存目录(运行时生成)
static/images/
# 静态资源离线备份包
static.rar
logs/*

# ==================================
# 4. 目录占位符保护 (极度关键 ✨)
# ==================================
# 上面我们忽略了文件夹里的所有内容，Git 默认是不会把空文件夹传到 GitHub 的。
# 为了保证别人 clone 或者 Docker 部署时，这些必要的文件夹结构依然存在，
# 我们需要放行这几个文件夹里的 .gitkeep 文件。
!instance/.gitkeep
!static/backdrops/.gitkeep
!static/posters/.gitkeep
!static/stills/.gitkeep
logs/.gitkeep
